---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
---
<BaseLayout pageTitle="Home">
  <p>Home page</p>
  <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</BaseLayout>